<h1>
	<%= @user.name %>
</h1>
<h2>Edit Profile</h2>
<div class="edit-form">
<%= form_for @user do |f| %>
	<%= f.label "Add a Profile Picture" %>
	<%= f.url_field :image, :placeholder => "Insert URL" %>
	<%= f.label "Change Your Name" %>
	<%= f.text_field :name %>
	<%= f.label "Change Email Address" %>
	<%= f.email_field :email, :placeholder => "Insert Email"%>
	<%= f.label :password, "Change Password"%>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Confirm New Password" %>
  <%= f.password_field :password_confirmation %>
	<%= f.submit 'Submit' %>
	<%= link_to 'Delete Account', user_path(@user.id), :method => 'delete', :class => "delete", :data => {:confirm => 'Once you delete your account your data will be gone forever, are you sure?'} %>
</div>
<% end %>
