<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
			<%= cl_image_tag(@user.image, :class => "profile-image", :default_image => "Reynholmlogo_rc8igd.png") %>
			<p class='bio-profile-page'><%= @user.bio %></p>
			<div class='post_box'>
				<% if @user.id == current_user.id %>
					<%= form_for @post do |f| %>
						<%= f.label "Update Status" %>
						<%= f.text_area :content, :autofocus => true, :required => true %>
						<%= f.submit 'Post!', :class => "sign-button"  %>
					<% end %>
				<% end %>
			</div>
    </section>
  </aside>
	<div class="col-md-8">
		<h1 id="user-name-profile"><%= @user.name %></h1>
	</div>
  <div class="col-md-8">
    <% if @user.posts.count != 0 %>
			<ol class="microposts">
				<% @user.posts.each do |l| %>
					<% if l.id != nil %>
						<li id="micropost-<%= l.id %>">
							<%= cl_image_tag(l.user.image, :class => 'thumb', :default_image => "Reynholmlogo_rc8igd.png") %>
							<span class="user"><%= link_to l.user.name, l.user %></span>
							<span class="content"><%= l.content %></span>
							<br/>
							<%= link_to "Comment", post_path(l.id) %>
							<% if l.comments.count >= 1 %>
								<h4>Comments</h4>
								<% l.comments.each do |comment| %>
									<%= cl_image_tag(comment.user.image, :class => 'thumb', :default_image => "Reynholmlogo_rc8igd.png") %>
									<span class="user"><%= link_to comment.user.name, comment.user %></span>
									<span class="content"><%= comment.content %></span>
									<% if comment.user_id == current_user.id %>
										<%= link_to "Delete", comment_path(comment.user.id), :method => 'delete' %>
									<% end %>
								<% end %>
							<% end %>
						</li>
						<% end %>
				<% end %>
			</ol>
    <% end %>
  </div>
</div>
